# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Fielding
Name[ca]=Fielding
Name[es]=Fielding
Name[fr]=Fielding
Name[nl]=Fielding
Name[pt]=Fielding
Name[sv]=Fielding
Name[uk]=Fielding
Name[x-test]=xxFieldingxx
Comment=Simple REST API testing tool
Comment[ca]=Eina senzilla de proves de l'API REST
Comment[es]=Sencilla herramienta para probar la API de REST
Comment[fr]=Outil simple pour tester l'« API REST »
Comment[nl]=Eenvoudig hulpmiddel voor testen van REST API
Comment[pt]=Ferramenta simples de testes de API's REST
Comment[sv]=Enkelt testverktyg för programmeringsgränssnittet REST
Comment[uk]=Простий засіб тестування програмного інтерфейсу REST
Comment[x-test]=xxSimple REST API testing toolxx
Exec=fielding
Icon=org.kde.fielding
Type=Application
Terminal=false
Categories=Qt;KDE;Development;Utility;
SingleMainWindow=true
