# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Fielding
Name[ca]=Fielding
Name[ca@valencia]=Fielding
Name[cs]=Fielding
Name[de]=Fielding
Name[es]=Fielding
Name[fr]=Fielding
Name[it]=Fielding
Name[nl]=Fielding
Name[nn]=Fielding
Name[pt]=Fielding
Name[sk]=Fielding
Name[sl]=Fielding
Name[sv]=Fielding
Name[tr]=Fielding
Name[uk]=Fielding
Name[x-test]=xxFieldingxx
Comment=Test your REST APIs
Comment[ca]=Proves de les API REST
Comment[ca@valencia]=Proves de les API REST
Comment[de]=Testen Sie Ihre REST-APIs
Comment[es]=Pruebe su API de REST
Comment[fr]=Tester vos interfaces « API » « REST »
Comment[it]=Prova le tua API REST
Comment[nl]=Test uw REST API's
Comment[nn]=Test REST-API-ar
Comment[pt]=Testar as suas API's REST
Comment[sl]=Testiraj REST API-je
Comment[sv]=Prova dina REST-programmeringsgränssnitt
Comment[tr]=REST API'lerinizi sınayın
Comment[uk]=Перевірте ваші програмні інтерфейси REST
Comment[x-test]=xxTest your REST APIsxx
Exec=fielding
Icon=org.kde.fielding
Type=Application
Terminal=false
Categories=Qt;KDE;Development;Utility;
SingleMainWindow=true
