# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Fielding
Name[ar]=ميدان
Name[ast]=Fielding
Name[ca]=Fielding
Name[ca@valencia]=Fielding
Name[cs]=Fielding
Name[de]=Fielding
Name[en_GB]=Fielding
Name[eo]=Fielding
Name[es]=Fielding
Name[eu]=Fielding
Name[fr]=Fielding
Name[gl]=Fielding
Name[he]=Fielding
Name[hi]=फील्डिंग
Name[ia]=Fielding
Name[it]=Fielding
Name[ka]=Fielding
Name[ko]=Fielding
Name[lv]=Fielding
Name[nl]=Fielding
Name[nn]=Fielding
Name[pl]=Fielding
Name[pt]=Fielding
Name[pt_BR]=Fielding
Name[ro]=Fielding
Name[sa]=फील्डिंग
Name[sk]=Fielding
Name[sl]=Fielding
Name[sv]=Fielding
Name[tr]=Fielding
Name[uk]=Fielding
Name[x-test]=xxFieldingxx
Name[zh_TW]=Fielding
Comment=Test your REST APIs
Comment[ar]=اختبر واجهات برمجة تطبيقات REST APIs
Comment[ca]=Proves de les API REST
Comment[ca@valencia]=Proves de les API de Rest
Comment[de]=Testen Sie Ihre REST-APIs
Comment[en_GB]=Test your REST APIs
Comment[eo]=Testu viajn REST-APIojn
Comment[es]=Pruebe su API de REST
Comment[eu]=Probatu zure «REST» «API»ak
Comment[fr]=Tester vos interfaces « API » « REST »
Comment[gl]=Proba as túas API REST.
Comment[he]=בדיקת ממשקי ה־API שלך מסוג REST
Comment[hi]=अपने REST API का परीक्षण करें
Comment[ia]=Essaya tu REST APIs
Comment[it]=Prova la tua API REST
Comment[ka]=დატესტეთ თქვენი REST API-ები
Comment[ko]=REST API 시험
Comment[lv]=Pārbaudiet savus REST API
Comment[nl]=Test uw REST API's
Comment[nn]=Test REST-API-ar
Comment[pl]=Sprawdź swoje API REST
Comment[pt]=Testar as suas API's REST
Comment[pt_BR]=Teste suas APIs REST
Comment[ro]=Testează-ți API-urile REST
Comment[sa]=स्वस्य REST APIs परीक्षणं कुर्वन्तु
Comment[sl]=Testiraj REST API-je
Comment[sv]=Prova dina REST-programmeringsgränssnitt
Comment[tr]=REST API’lerinizi sınayın
Comment[uk]=Перевірте ваші програмні інтерфейси REST
Comment[x-test]=xxTest your REST APIsxx
Comment[zh_TW]=測試您的 REST API
Exec=fielding
Icon=org.kde.fielding
Type=Application
Terminal=false
Categories=Qt;KDE;Development;Utility;
SingleMainWindow=true
